*{
    margin: 0;
    padding: 0;
}
ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: inherit;
}
 .clearfix::after{
    display: table;
    content: "";
    clear: both;
 }
 
 img{
    vertical-align: top;
    border: 0;
 }
 
 body{
    color: #222328;
 }
 
 .wrap{
    width: 1200px;
    margin: 0 auto;
 }

header{
    width: 100%;
    height: 100px;
}

header h1{
    float: left;
    width: 200px;
    padding-top: 30px;  
}

header nav {
    float: right;
    width: 700px;
    padding-top: 30px;    
}

header nav ul.gnb{
    width: 100%;
    text-align: center;
    font-size: 18px;
    box-sizing: border-box;
    border:1px solid #ccc;
    height: 50px;
    background: #fff;
}

header nav ul.gnb>li{
    width: 25%;
    float: left;    
}


header nav ul.gnb>li:hover>a{
    background : #5f1c25;
    color: #fff;
}

header nav ul.gnb>li>a{
    font-size: 22px;
    display: block;
    width: 100%;
    height: 45px;
    line-height: 45px;
}

header nav ul.gnb>li>ul.sub{
    width: 100%;
    line-height: 40px;
    display: none;
} 

header nav ul.gnb>li>ul.sub>li{
    width: 100%;
    line-height: 40px;
}

header nav ul.gnb>li>ul.sub>li>a{
    display: block;
    width: 100%; 
    height: 100%;
}
header nav ul.gnb>li>ul.sub>li:hover>a{
    background : #5f1c25;
    color: #fff;
}


.slide{
    width: 100%;
    height: 300px;
    background: #bbb;
}

.contents{
    width: 100%;
    height: 200px;
    background: #ccc;
}

footer{
    width: 100%;
    height: 100px;
    background: #ddd;
}

/* nav 오류 수정이 안됨
[웹디자인기능사]01 JUST쇼핑몰 문제풀이 -1
해결해야함
header nav ul.gnb{
    width: 100%;
    text-align: center;
    font-size: 18px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    background: #fff;
    위에 코드에서 오류를 발견할 수 없다 */
